<div class="main">

	<div class="left">
		<div class="video content">
			aa
		</div>
		<div class="description content">
			bb
		</div>
	</div>

	<div class="right content">
		<ul>
			<li>video 1</li>
			<li>video 2</li>
			<li>video 3</li>
		</ul>
	</div>

</div>
