@import "font-awesome-sprockets";
@import "font-awesome";

body {
	background-color: #F1F1F1;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

header {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 10px;
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.left {
	width: 650px;
}

.right {
	width: 416px;
}

.content {
	background-color: #FFFFFF;
	padding: 5px;
	margin: 5px;
}

.video {
	padding: 0px;
	margin-bottom: 0px;
}

.main {
	margin: auto;
	width: 1066px;
	display: flex;
}

h1 {
	font-size: 18px;
}



/*Header*/

header img {
	margin-left: 10px;
}



/* Right column (video links) */

.miniature {
	display: flex;
	margin: 6px;
	padding: 0px;
}

.minitext {
	margin-left: 4px;
}

.minititle {
	font-size: 13px;
	margin: 0;
	// line-height: 13px;
}

h6 {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
}




/* construction */


