body {
	background-color: #F1F1F1;
	margin: 0;
}

header {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

.content {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 10px;
}

.main {
	margin: auto;
	width: 1066px;
	display: flex;
}

.left {
	width: 640px;
}

.right {
	width: 416px;
}


/* construction */

.right {
	background-color: crimson;
}